@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-900;
  font-family: 'Geist Sans', sans-serif;
}

body.dark {
  @apply bg-gray-900 text-gray-100;
}

header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  @apply transition-colors duration-300;
}

nav {
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
}

nav ul li {
  @apply transition-colors duration-300;
}

nav ul li:hover {
  background-color: #cecece;
}
